body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.5s ease;
    flex-direction: column;
    gap: 1rem;

}

#btn, #newBtn{
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 25px;
}

#para{
    font-size: 2rem;
}

