body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #282c34;
    color: #61dafb;
    font-family: Arial, Helvetica, sans-serif;
}

#clock{
    font-size: 3rem;
    font-weight: bold;
}

.para{
    font-size: 3rem;
    font-weight: bold;
}