
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}


.box{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100px;
    width: 100px;
    background-color: pink;
}

.box button{
    background-color: blueviolet;
    border-radius: 8px;
}